.background{
    background-color: #0b1d26;
    height: 75px;
}
.sidenav {
    margin-top: 75px;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0b1d26;
    overflow-x: hidden;
    padding-top: 20px;
  }
  .main {
    margin-left: 200px;
    margin-top: 25%;
    text-align: center;
  }
  .mainAdmin{
    margin-left: 200px;
    margin-top: 5%;
    text-align: center;
  }
  .inputSide{
      border: none;
      background-color: transparent;
      color: white;
      width: 200px;
      height: 75px;
      font-size: 20px;
  }
  .inputSide:hover{
    background-color: #173c4e;
  }
  .mainAdmin .tableClass{
      width: 100%;
  }