/* html, body{
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    overflow: hidden;
}
.background{
    margin: 0;
    position: relative;
    background-color: #0b1d26;
    height: 100%;
    width: 100%;
}
.bck{
    height: 75px;
    background-color: #0b1d26;
}
.login{
    width:25%;
    background-color:white;
    border-radius: 15px;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(60%, -220%);
    
}
.login h1{
    font-weight: 900;
    color:#0b1d26;
    
}
.INFO{
    color: white;
    font-size: 5em;
    font-weight: 900;
    text-align: left;
    position: relative;
    line-height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
}
.inputText{
    line-height:1px;
    color:black;
}
.input{
    padding-left: 25px;
    width: auto;
    text-decoration: none;
    border: none;
    background-color:#0b1d26;
    
    border-radius: 5px;
    height: 30px;
}
.input::placeholder{
    color: white;
}
.submit{
    text-decoration: none;
    border: none;
    background-color:#0b1d26;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    width: 150px;
    height: 30px;
}
.hide{
    display: none;
} */
html, body{
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    overflow: hidden;
}
.background{
    margin: 0;
    position: relative;
    background-color: #0b1d26;
    height: 100%;
    width: 100%;
}
.bck{
    height: 75px;
    background-color: #0b1d26;
}
.login{
    width:25%;
    background-color:white;
    border-radius: 15px;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(60%, -220%);
    
}
.login h1{
    font-weight: 900;
    color:#0b1d26;
    
}
.INFO{
    color: white;
    font-size: 5em;
    font-weight: 900;
    text-align: left;
    position: relative;
    line-height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
}
.inputText{
    line-height:1px;
    color:black;
}
.input{
    padding-left: 25px;
    width: auto;
    text-decoration: none;
    border: none;
    background-color:#0b1d26;
    
    border-radius: 5px;
    height: 30px;
}
.input::placeholder{
    color: white;
}
.submit{
    text-decoration: none;
    border: none;
    background-color:#0b1d26;
    color: white;
    border-radius: 10px;
    font-weight: 600;
    width: 150px;
    height: 30px;
}
.hide{
    display: none;
}
