.TopContainer{
  width: 100%;
  height: 50%;
  background-color: #3e7077;
}
.roundedProfilePicture{
  border-radius: 150px;
  margin-left: 150px;
  margin-top: -75px;
}
.squareA {
  width: 75% !important;
  height: 50% !important;
    background-color: #0b1d26;
    margin-top: -160px;
    margin-left: 12.5%;
  }
  .squareA h1{
    margin-left: 20%;
    color: white;
    font-size: 75px;
  }
  .squareA h4{
    color: white;
    font-size: 30px;
    padding: 10px;
  }
  .squareA table{
    padding: 10px;
  }
  .squareA table .textRight{
    display: flex;
    justify-content: center;
    font-weight: 300;
    color: white;
    font-size: 30px;
    padding: 50px;
  }
  .squareA hr{
    background-color: goldenrod;
    width: 90%;
  }
  .button{
    background-color: #0b1d26;
    border: none;
    color: white;
    width: 40% !important;
    height: 10% !important;
    text-align: left;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    padding: 10px;
  }
  .button:hover {background-color: #3e7077}
  .button:active {
    background-color: #3e7077;
    box-shadow: 0 5px #3e7077;
    transform: translateY(4px);
  }
  .PasswordInfo h2{
    color: white;
  }
  .PasswordInfo .passwordForm{
    color: white;
  }
  .passwordForm h5{
    color: white;
    font-family: sans-serif;
  }
  .passwordForm input[type="password"]{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    color:white;
    font-size: 1.4em;
    font-family: sans-serif;
    width: 25%;
  }
  .passwordForm input[type="password"]:focus{
    outline: none;
  }
  .passwordForm input[type="password"]::placeholder{
    color: white;
    font-size: 16px;
  }
  .button1{
    background-color: #0b1d26;
    border: none;
    width: 25% !important;
    height: 10% !important;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }
  .button1:hover {background-color: #3e7077}
  .button1:active {
    background-color: #0b1d26;
    box-shadow: 0 5px #0b1d26;
    transform: translateY(4px);
  }
.button4{
  background-color: #0b1d26;
  border: none;
  width: 50% !important;
  height: 10% !important;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  cursor: pointer;
}
.button4:hover {background-color: #e03018}
.button4:active {
  background-color: #e03018;
  box-shadow: 0 5px #e03018;
  transform: translateY(4px);
}
.textDelete{
  color: white;
}