.background{
    background-color: #0d4271e0;
    width: 98.2%;
    height: 120px;
    border-style: groove;
    border-radius: 15px;
    padding-top: 35px;
    padding-left: 25px;
}
.background1{
    position: relative; 
    bottom: 875px;
    left: 25px;
    font-size: 1.1em;
    font-family: sans-serif;
}
.background2{
    position: relative; 
    bottom: 825px;
    left: 25px;
    font-size: 0.9em;
    font-family: sans-serif;
}
.background1 h1{
    position: relative; 
    left: 35px;
}
.background4{
    position: relative; 
    bottom: 100px;
    left: 25px;
    font-size: 0.1em;
    font-family: sans-serif;
}
.square{
    position: relative; 
    bottom: 160px;
    height: 700px;
    width: 1500px;
    background-color: #89939b6b;
    border-style: groove;
    border-radius: 15px;
}
.background{
    font-size: 0.9em;
    font-family: sans-serif;
}
.ques{
    position: relative; 
    left: 20px;
    bottom: 810px;
    font-size: 1.2em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.ques1{
    position: relative; 
    left: 20px;
    bottom: 830px;
    font-size: 1.2em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.ans{
    position: relative; 
    left: 20px;
    bottom: 820px;
    font-family: sans-serif;
    position: relative; 
    left: 25px;
}
.ans1{
    position: relative; 
    left: 20px;
    bottom: 840px;
    font-family: sans-serif;
    position: relative; 
    left: 25px;
}
.ans0{
    position: relative; 
    left: 20px;
    bottom: 800px;
    font-family: sans-serif;
    position: relative; 
    left: 25px;
}
.B{
    position: relative; 
    left: 20px;
    bottom: 790px; 
}
.B2{
    position: relative; 
    right: 400px;
    bottom: 750px; 
}
.B3{
    position: relative; 
    bottom: 780; 
    right: 140px;
}
